<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @mining_type.description %>
    <%= text_field_tag nil, @mining_type.description, class:"form-control", placeholder:"Proof of Work", disabled: true %>
  </div>
  <div class="form-group">
    <%= label_tag nil, @mining_type.acronym %>
    <%= text_field_tag nil, @mining_type.acronym, class:"form-control", placeholder:"Pow", disabled: true %>
  </div>
</form>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class: "btn btn-secondary" %> 
<%= link_to t('links.backs'), mining_types_path, class: "btn btn-secondary", disabled: true %>
